{% block body %}
	<br/>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<a href="{{ path('app_question_index') }}" class="btn btn-primary" style="color:white">
		<i class="bi bi-arrow-left"></i> Retour
	</a>
{% endblock %}
