{% extends 'base.html.twig' %}

{% block title %}Ajouter Question
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<a href="{{ path('app_question_index') }}" class="btn btn-primary" style="color:white">
		Retour
	</a>
{% endblock %}
