{% extends 'base.html.twig' %}

{% block title %}Question Admin
{% endblock %}

{% block body %}
	<h1>Modifier question</h1>
	
	{{ include('question/_form.html.twig') }}
	{{ include('question/_delete_form.html.twig') }}

{% endblock %}
