{% block body %}
	<br/>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	
	<a href="{{ path('app_theme_index') }}" class="btn btn-primary" style="color:white">
		Retour
	</a>
{% endblock %}
