{% extends 'base.html.twig' %}

{% block title %}Nos Contrats
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<h1>Mes Offres</h1>

	<div class="d-flex">
		<div class="card">
			<h5 class="card-header">Contrat Infogérance</h5>
			<div class="card-body">
				<h5 class="card-title">Maintenance+Sauvegarde</h5>
				<p class="card-text">Infogérance pour poste avec option de sauvegarde 1To</p>
				<a href="#" class="btn btn-primary">Voire Contrat</a>
			</div>
		</div>
	</div>
{% endblock %}
